{{!
##############################################
## Iteration 4 Bonus - Frontend validations ##
############################################## }}

<h3>Sign-up</h3>

<form method='POST'>
   <label for='input-username'>Your Username</label>
   <input id='input-username' type='text' name='username' placeholder='Your Username' required='required' />

   <label for='input-password'>Password</label>
   <input id='input-password' type='password' name='password' placeholder='Password' required='required' minlength='5' />

   <button class='btn btn-secondary'>Sign Up</button>
</form>
